@model IEnumerable<TravelAir.Models.FlightOffer>

<head>

    <link rel="stylesheet" href="~/css/flight-offer-index.css" asp-append-version="true" />

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />




</head>

@section Scripts
{
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/select2.js"></script>

    <script src="~/js/select2-inputs.js"></script>



}


<div id = "top-content">
    <form method = "post" asp-controller="FlightOffer" asp-action="Index">
        <div id = "upper-filtration">
            <div id = "trip-section">
                <select id = "trip-search" class ="simpleSelect2"></select>
            </div>
            <div id = "class-section">
                <select id = "class-search" asp-items = "ViewBag.CC" class ="simpleSelect2" name = "searchCabinClass"></select>
            </div>
            <div id = "passenger-section">
                <select id = "passenger-search" class ="simpleSelect2"></select>
            </div>
        </div>
        <div id = "lower-filtration">
            <div id = "origin-city-section">
                <i class = "fa-solid fa-tree-city search-icons"></i>
                <select id = "origin-city-search" asp-items="ViewBag.OC" name = "searchOriginCities" ></select>
            </div>
             <div id = "destination-city-section">
                <i class = "fa-solid fa-arrow-right-to-city search-icons"></i>
                <select id = "destination-city-search" asp-items="ViewBag.OC" name = "searchDestinationCities"></select>
            </div>
             <div id = "departure-date-section">          
                <input type="date" name = "searchDepartureDate" id="departure-date-search" class = "border-0"/>
            </div>
            <div id = "search-section">
                        
                        <input type="submit" id = "search-button" value = "Search" />  
            </div>
        </div>
    </form>
</div>

<div class = "main">

     <div id = "create-div">
            <div id = "create-separator"></div>
            <div id = "inside-create-div">  

                
                <div id = "manage-part-create">
                     <a id = "create-icon-holder" asp-action = "Create">CREATE A NEW OFFER</a>       
                </div>        
            </div>
        </div>
     
    <div id = "offers-section">

       

            @foreach(var item in Model){

            <div class = "offer-panel">

                <div class = "main-info">

                    <div class = "comp-part">
                        <div class = "comp-img">
                             <img decoding="async" src=@Url.Content("~/images/company/" + item.Company.ImageName)   asp-append-version="true"/>
                        </div>
                       
                        <span>@item.Company.Name</span>
                    </div>

                    <div class = "places-dates">
                        <span class = "places">
                            @Html.DisplayFor(modelItem => item.OriginCity) &nbsp-&nbsp @Html.DisplayFor(modelItem => item.DestinationCity)
                        </span>
                        <span>
                            @Html.DisplayFor(modelItem => item.DepartureDate.TimeOfDay) &nbsp-&nbsp @Html.DisplayFor(modelItem => item.ReturnDate.TimeOfDay)
                        </span>           
                    </div>

                    <div class = "trip-length">
                        <span>Trip Type</span>
                        <span>Trip Length</span>
                    </div>

                </div>

                <div class = "side-info">
                    <div class = "side-info-cont">
                        <div class = "price-part">
                            <span>@Html.DisplayNameFor(modelItem => item.Price): @Html.DisplayFor(modelItem => item.Price)</span>

                            <div class = "manage-part">
                               <a class = "icon-link" id = "details-part" asp-action = "Details" asp-route-id="@item.Id"><i class="fa-solid fa-ellipsis icon"></i></a>
                               <a class = "icon-link" id = "edit-part"asp-action = "Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen icon"></i></a>
                               <a class = "icon-link" id = "delete-part" asp-action = "Delete" asp-route-id="@item.Id"><i class="fa-solid fa-xmark icon"></i></a>
                            </div>

                        </div>
                        <span>
                            @Html.DisplayNameFor(modelItem => item.CabinClass.Name): @Html.DisplayFor(modelItem => item.CabinClass.Name)
                        </span>
                         <span>
                            Passenger:
                        </span>
                        <span>
                            Quantity:
                        </span>
                    </div>
               
                    <div class = "btn-part">
                        <button class = "offer-btn" type = "submit">View Offer</button>
                    </div>
                </div>

            </div>

        }
    </div>

</div>


